<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mr-5">
                <div class="row">
                    <h2 class="footer-heading mb-4">О нас</h2>
                    <p>Мы специализируемся на предоставлении высококачественных услуг в сфере международной
                        логистики, предлагая надёжные и эффективные решения для доставки и хранения грузов по всему
                        миру.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="mailing-container">
                    <h2 class="footer-heading mb-4">Подписка на новости</h2>
                    <form action="#" method="post" class="mb-5">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                id="mailing" placeholder="Email" aria-label="Email" aria-describedby="button-addon2"
                                required autocomplete="email">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button"
                                    id="button-addon2">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="follow-container">
                    <h2 class="footer-heading mb-4">Наши соцсети</h2>
                    <a href="#"><i class="ri-facebook-line"></i></a>
                    <a href="#"><i class="ri-twitter-x-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                    <a href="#"><i class="ri-linkedin-line"></i></a>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        Copyright &copy; <span id="copyright-year"></span> Все права защищены | Этот шаблон создан с <i
                            class="ri-heart-fill" aria-hidden="true"></i> от <a rel="nofollow"
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>